@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerlogin{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
    height: 500px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.267);
    border-radius: 16px;
    overflow: hidden;
    margin: 30px;
}

.containerImg{
    display: flex;
    width: 50%;
    height: 100%;
}

.containerImg img{
    display: flex;
    width: 100%;
    height: 100%;
}

.containerForm{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.containerForm form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 100%;
    height:100%;
}

.containerForm form h1{
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    width: 100%;
    text-align: center;
}

.containerForm form input{
    width: 80%;
    height: 50px;
    padding: 2rem 1rem;
    margin-bottom: 1rem;
    border-radius: 12px;
    background-color: #e9e9e9;
    border: none;
    outline: none;
}

.containerForm form input::placeholder{
    color: black;
    font-size: 1.1rem;
}

.containerForm form p{
    margin-bottom: 2rem;
}



.containerForm form button{
    background-color: #61C4DD;
    font-size: 1.4rem;
    font-weight: 600;
    color: #fff;
    padding: 1.1rem 1rem;
    border-radius: 12px;
    width: 50%;
    border: none;
    margin-bottom: 1.5rem;
    transition: .5s ease-in-out;
    cursor: pointer;
    text-align: center;
}

.containerForm form button:hover{
     background-color: #3a8597;
}

.containerForm .login{
    display: none;
}

.containerForm .Cadastro{
    display: flex;
}

.active{
    display: none;
}
@media (max-width:800px){
    .containerlogin{
    flex-direction: column;
     width: auto;
    height: auto;
    }

    .containerImg{
        width: 60%;
    }

    .containerForm{
        width: 60%;
    }

    .containerForm form button{
        width: 50%;
        font-size: 1.2rem;
        padding: 12px 0px;
    }

    .containerForm form input{
        width: 100%;
        padding: 15px 20px;
    }

    .containerForm form input::placeholder{
        font-size: 15px;
    }

       .containerForm form p{
    font-size: 1rem;
    }  
}

@media (max-width:500px){
  .containerForm h1{
    font-size: .7rem;
  }

    .containerForm form button{
        width: 40%;
        font-size: .9rem;
    }

    .containerForm form p{
    font-size: .7rem;
    }  

}
